.progress-wrapper {
  width: 100%;
  max-width: 1090px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 0 20px;
  /* position: relative; */
  margin-top: -70px;
  overflow: hidden;
}

.circle-gradient-border {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: linear-gradient(135deg, #ffffff, #ff9d00);
  -webkit-mask: radial-gradient(farthest-side, transparent calc(100% - 1px), white calc(100% - 1px));
  mask: radial-gradient(farthest-side, transparent calc(100% - 1px), white calc(100% - 1px));
  z-index: 1;
  flex-shrink: 0;
  transition: all 0.3s ease;
}

.circle-gradient-border.completed {
  -webkit-mask: none;
  mask: none;
  background: #ff9d00;
}

.line {
  flex: 1;
  height: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-image: linear-gradient(90deg, #ffffff, #ff9d00) 1;
  border-top: 1px solid;
  border-bottom: 1px solid;
  z-index: 0;
  padding: 6px;
  
}

.line.completed {
  background: #ff9d00;
  border: none;
}

.inner-circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: linear-gradient(135deg, #ffffff, #ff9d00);
  -webkit-mask: radial-gradient(farthest-side, transparent calc(100% - 1px), white calc(100% - 1px));
  mask: radial-gradient(farthest-side, transparent calc(100% - 1px), white calc(100% - 1px));
  z-index: 1;
  flex-shrink: 0;
}



